.body {
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
.wrapper {
    max-width: 59.75rem;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Header styles start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    background: white;
    box-shadow: 0 0 0.8rem 0.8rem #F2F2F2;
    z-index: 999;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    padding-top: 1.8rem;
}

.header__authorization {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}
.header__authorization-btn {
    display: inline-block;
    width: 4.375rem;
    line-height: 2.5rem;
    border: 1px solid #E0E0E0;
    text-decoration: none;
    text-align: center;
    color: #1D1D1D;
    font-weight: 700;
    margin-right: 27px;
}

.header__authorization-basket-pic {
    width: 19px;
    height: 21px;
}
/* Header styles end */

/* Search styles start */
.search-form {
    padding-top: 8rem;
    width: 100%;
}
.search-form__input {
    width: 100%;
    border: 0;
    height: 1.5rem;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 3.5rem;
}
/* Search styles end */

/* Restaurants styles start */
.restaurants__title {
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 2.125rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.restaurants__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin-bottom: 5rem;
}
.restaurants__card {
    grid-column: span 2;
}
.restaurants__card:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.restaurants__card-link {
    text-decoration: none;
}
.restaurants__card-pic {
    width: 100%;
    margin-bottom: 1rem;
}
.restaurants__card-name {
    line-height: 1.5rem;
    color: #1D1D1D;
    padding-bottom: 0.25rem;
}
.restaurants__card-desc {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #626262;
    padding-bottom: 0.25rem;
}
.restaurants__card-delivery {
    font-size: 0.8125rem;
    line-height: 1.3125rem;
    color: #1D1D1D;
    padding-bottom: 1.25rem;
}
/* Restaurants styles end */

/* Menu styles start */
.menu__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 5rem;
}

/* Menu styles end */

/* Footer styles start */
.footer {
    background: #262626;
}
.footer__wrapper {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}
.footer__logo-pic {
    margin-bottom: 2.5rem;
}
.footer__hr-line {
    height: 1px;
    background: #FFFFFF;
    opacity: 0.4;
    border: 0;
    margin: 0;
}
.footer__desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.footer__desc__social {
  padding-top: 2rem;
  padding-bottom: 3.4375rem;
  margin-right: 6.0625rem;
}
.footer__lang {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 14.1875rem;
  height: 2.5rem;
  background: #3B3B3B;
  margin-bottom: 2.0625rem;
}
.footer__lang-pic {
  padding: 12px 16px;
  width: 15.72px;
  height: 15.72px;
}
.footer__lang-text {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #FFFFFF;
  padding-right: 75px;
}
.footer__lang-arrow {
  width: 14px;
  height: 8px;
  padding: 16px 8px 16px 0;
}
.footer__desc__social-text {
  line-height: 1.1875rem;
  color: #FFFFFF;
  padding-left: 10px;
  margin-bottom: 1rem;
  background: url(../img/svg/gate.svg) no-repeat left center;
}
.footer__desc__social-link {
  text-decoration: none;
  width: 24px;
  height: 24px;
}
.footer__desc__about {
  display: flex;
  flex-direction: column;
  padding-top: 2.4375rem;
  padding-bottom: 4rem;
  margin-right: 8rem;
}
.footer__desc__about-item {
  list-style-type: none;
  padding-bottom: 1.4375rem;
}
.footer__desc__about-link {
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #FFFFFF;
}
.footer__desc__help {
  display: flex;
  flex-direction: column;
  padding-top: 2.4375rem;
  padding-bottom: 1.5625rem;
  margin-right: 15.0625rem;
}
.footer__desc__help-item {
  list-style-type: none;
  padding-bottom: 1.4375rem;
}
.footer__desc__help-link {
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #FFFFFF;
}
.footer__apps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.footer__apps-app {
    text-decoration: none;
    margin-right: 2.5rem;
}
.footer__apps-app:last-child {
    margin-right: 0;
}
.footer__legal-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 2.5rem 0 0 0;
}
.footer__legal-item {
    list-style-type: none;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    color: #FFFFFF;
    margin-right: 10.8125rem;
    margin-bottom: 1.5rem;
}
/* Footer styles end */

/* Top button styles start*/
.top__button {
    position: fixed;
    right: 1rem;
    bottom: 1.5rem;
    width: 5rem;
    height: 5rem;
    background: #59BD5A;
}

.top__button:hover, 
.top__button:focus,
.top__button:active {
    filter: brightness(1.15);
}

.top__button::before, 
.top__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top__button::before {
    width: 2px;
    height: 20px;

    background-color: white;
}

.top__button::after {
    width: 8px;
    height: 8px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: 2px solid white;
    border-left: 2px solid white;
}
/* Top button styles end*/


/* PAGE 2*/

/* Header styles start */
.header_no-shadow {
    box-shadow: none;
}
/* Header styles end */ 

/* Restaurant styles start */
.restaumant__background {
    width: 100%;
    background: url(../img/cinnabon/bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 4.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.restaurant {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    max-width: 19.5625rem;
    padding: 2.375rem;
}
.restaurant__title {
    font-size: 2rem;
    line-height: 2.625rem;
    color: #1D1D1D;
    margin-bottom: 3.375rem;
}
.restaurant__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.restaurant__desc {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #626262;
    margin-right: 30px;
}
.restaunat__delivery {
    padding: 0.5rem 1rem;
    background: #262626;
    border-radius: 1rem;
}
.restaunat__delivery-time {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    color: #FFFFFF;
}
/* Restaurant styles end */

/* Menu header styles start */
.menu__header {
    padding-top: 2rem;
    padding-bottom: 1.8125rem;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 3.5rem;
}
.menu__header-list {
    display: flex;
    flex-wrap: wrap;
}
.menu__header-item {
    margin-right: 2.5rem;
}
.menu__header-item:last-child {
    margin-right: 0;
}
.menu__header-link {
    text-decoration: none;
    line-height: 1.1875rem;
    color: #626262;
}
.menu__header-link:hover, .menu__header-link:active, .menu__header-link:focus {
    color: #327430;
}
/* Menu header styles end */

/* Menu styles start */
.cinnabon-menu__title {
    font-size: 1.375rem;
    line-height: 2.125rem;
    color: #1D1D1D;
    margin-bottom: 2rem;
}
.cinnabon-menu__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1rem;
    column-gap: 3.0625;
    margin-bottom: 5rem;
}
.cinnabon-menu__card {
    max-width: 29.375rem;
    grid-column: span 3;
}
.cinnabon-menu__card-link {
    text-decoration: none;
}
.cinnabon-menu__card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cinnabon-menu__card-info {
    flex: 1 1 auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background: url(../img/cinnabon/bg-active.jpg) center;
    max-width: 100%;
    outline: 1px solid #F2F2F2;
    outline-offset: -1px;
}
.cinnabon-menu__card-title {
    line-height: 1.5rem;
    color: #1D1D1D;
    margin-bottom: 5.1875rem;
}
.cinnabon-menu__card-price {
    font-size: 0.9375;
    line-height: 1.3125;
    color:  #1D1D1D;;
}
.cinnabon-menu__card-pic {
    width: 10.625rem;
    height: 10rem;
    border-radius: 0.2rem;
}
.cinnabon-menu__card:hover, .cinnabon-menu__card:focus, .cinnabon-menu__card:active {
    transform: scale(1.03);
    transition: 0.2s;
}
/* Menu styles end */

/* Media styles start */
@media screen and (max-width: 972px) {
    .restaurants__cards {
        margin-bottom: 3rem;
    }
    .restaurants__card {
        grid-column: span 3;
    }
    .cinnabon-menu__card {
        grid-column: span 6;
        max-width: 100%;
    }
    .restaurant {
        max-width: 20.75rem;
        padding: 2.375rem 3.25rem 2.375rem 3rem;
    }
    .footer__desc__social {
        margin-right: 3.75rem;
    }
    .footer__desc__about {
        margin-right: 5rem;
    }
    .footer__desc__help {
        padding-top: 0;
    }
    .footer__legal-item {
        margin-right: 6.625rem;
    }
}
@media screen and (max-width: 414px) {
    .restaumant__background {
        height: 15.9375rem;
        padding: 0;
    }
    .restaurant__wrapper {
        display: flex;
        justify-content: center;
        transform: translateY(70%);
    }
    .restaurant {
        max-width: 13.125rem;
        padding: 1.5rem 3.0625rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0.3rem 0.3rem #F2F2F2;
    }
    .restaurant__info {
        justify-content: center;
    }
    .restaurant__title {
        margin-bottom: 2.5rem;
    }
    .restaurant__desc {
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .restaurants__card {
        grid-column: span 6;
    }
    .footer__desc__social {
        padding-bottom: 2.4375rem;
    }
    .footer__desc__about {
        padding-top: 0;
        padding-bottom: 0;
    }
    .menu__header {
        padding-top: 9.125rem;
        padding-bottom: 0.75rem;
        overflow: hidden;
    }
    .menu__header-list {
        align-items: center;
        justify-content: center;
    }
    .menu__header-link {
        font-size: 1.375rem;
        line-height: 2.125rem;
        color: #1D1D1D;
    }
}
/* Media styles end */